.Card{
    display: flex;
    width:25%;
    flex-direction: column;
    gap:1rem;
    align-items: center;
    justify-content: center;
    padding:1rem;
    border:thin solid rgb(170, 170, 170);
    border-radius: 10px;

    &:hover{
        transform: scale(1.1);
        background-color: black;
        color:white;
    }

}