.MenuListMain{
    padding:1rem;
    .Allmenu{
        margin:2rem 0rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap:3rem;
    }
}